# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pylint pytest mdformat
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint Python with pylint
      run: |
        pylint src/prime_finder.py tests/test_prime_finder.py benchmarks/benchmark.py
    - name: Lint Python with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        export PYTHONPATH="${PYTHONPATH}:$(pwd)/src"
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # PEP 8 standard: max line length 79 characters
        flake8 . --count --max-complexity=10 --max-line-length=79 --statistics
    - name: Lint Markdown with mdformat
      run: |
        mdformat --check README.md docs/README.md docs/TESTING.md docs/CHECKPOINTING.md
    - name: Test with pytest
      run: |
        export PYTHONPATH="${PYTHONPATH}:$(pwd)/src"
        pytest tests/test_prime_finder.py -v
